*{
  margin: 0; padding: 0;
}
body {
box-sizing: border-box;  
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Header Contents */
header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
header #wrap {
  position: relative;
  width: 1180; 
  height: 120px;
  margin: 0 auto;
}
#wrap h1 {
  position: absolute;
  left: 0px; bottom: 40px;
}
#wrap h1 > a {
  color: #444;
  font-weight: bold;
}

/* Gnb */
.gnb {
  position: absolute;
  right: 0; bottom: 0;
}
.gnb li {
  float: left;
}
.gnb li a {
  display: block;
  padding: 20px 40px;
  color: #555;
  transition: all 0.5s;
}
.gnb li a:hover {
  background-color: #555;
  color: #fff;
}

/* Lnb */
.lnb {
  position: absolute;
  top: 20px; right: 30px;
}
.lnb li {
  float: left;
}
.lnb li a {
  color: #999;
  display: block;
  padding: 0 10px;
}

/* Visual > Video */
figure {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #000;

  position: relative;
  overflow: hidden;
  padding-top: 250px;
}
figure video {
  width: 100%; height: 100%;
  object-fit: cover;
  opacity: 0.3;
  position: absolute;
  top: 0; left: 0;
}

/* Visual > Fonts */
.inner1 {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
.inner1 h1 {
  color: #fff;
  font-weight: normal;
  font-size: 100px;
  margin-bottom: 20px;
}
.inner1 p {
  color: #888;
  font-size: 16px;
  margin-bottom: 60px;
}
.inner1 a {
  display: block;
  width: 400px; height: 40px;

  border: 1px solid #bbb;
  text-align: center;
  line-height: 40px;

  color: #ffff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;

  transition: all 0.5s;
}

.inner1 a:hover {
  background-color: #fff;
  color: #555;
}

/* News > Header*/
section {
  width: 100%;
  padding: 200px 0;
}
.inner2 {
  width: 1180px;
  margin: 0 auto;
}
.inner2 h1 {
  color: #555;
  font-weight: bold;
  font-size: 24px;

  text-align: center;
  margin-bottom: 50px;
}

/* News > Contents */
.inner2 .contents {
  width: 100%;
  overflow: hidden;
}
.contents article {
  width: 280px;
  float: left;
  margin-right: 20px;
}
.contents article:last-child {
  margin-right: 0;
}
.contents h2 {
  margin-bottom: 10px;
}
.contents h2 a {
  font-weight: bold;
  color: #777;
}
.contents p {
  font-weight: 14px;
  color: #777;
}

/* News > IMG */
.contents .pic {
  height: 120px;

  background-color: #333;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.contents img {
  object-fit: cover;
  width: 100%; height: 100%;
}

/* Footer */
footer {
  width: 100%;
  background-color: #333;
  padding: 100px 0;
  border-top: 1px solid #888;
}

footer .inner3 {
  width: 1180px;
  margin: 0 auto;
}
.inner3 .upper {
  width: 100%;
  border-bottom: 1px solid #777;
  padding-bottom: 0;
  overflow: hidden;
}
.inner3 h1 {
  float: left;
  font-weight: bold;
  color: #666;
}
.inner3 ul {
  float: right;
}
.inner3 li {
  float: left;
  margin: 20px;
}
.inner3 a {
  color: #666;
  font-weight: bold;
}

/* Footer > Lower */
.lower {
  width: 100%;
  font-size: 16px;
  color: #777;
  padding-top: 20px;
}
.lower address {
  margin-bottom: 20px;
  width: 100%;
}
.lower p {
  color: #777;
  width: 100%;
}
